In [ ]:
import pandas as pd
data = pd.read_csv("/Ads_Optimisation.csv")

In [ ]:
data.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [ ]:
data.shape

(10000, 10)

In [ ]:
import random 
N = 10000
d = 10
ads_selected = []
total_reward =0 
for n in range(0,N):
  ad = random.randrange(d)
  ads_selected.append(ad)
  reward = data.values[n,ad]
  total_reward = total_reward + reward

pd.Series(ads_selected).tail(1000).value_counts(normalize=True)

4    0.118
5    0.114
9    0.104
1    0.099
0    0.099
3    0.098
2    0.097
6    0.094
8    0.092
7    0.085
dtype: float64

In [ ]:

pd.Series(ads_selected).tail(1000).value_counts(normalize=False)

4    118
5    114
9    104
1     99
0     99
3     98
2     97
6     94
8     92
7     85
dtype: int64

In [ ]:
#Implementing UCB
import math
N = 10000
d = 10
ads_selected = []
number_of_selections = [0]*d
sums_of_reward = [0] * d
total_reward = 0

In [ ]:
for n in range(0,N):
  ad = 0
  max_upper_bound = 0
  for i in range(0,d):
    if (number_of_selections[i]>0):
      average_reward = sums_of_reward[i]/number_of_selections[i]
      delta_i = math.sqrt(2*math.log(n+1)/number_of_selections[i])
      upper_bound = average_reward + delta_i
    else:
      upper_bound = 1e400
      if upper_bound> max_upper_bound:
        max_upper_bound= upper_bound
        ad = i
  ads_selected.append(ad)
  number_of_selections[ad] += 1
  reward = data.values[n,ad]
  sums_of_reward[ad] += reward

In [ ]:
pd.Series(ads_selected).tail(1500).value_counts(normalize=True)

0    1.0
dtype: float64